<!DOCTYPE html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Image Metadata Viewer</title>
	{% block bootstrap_css %}
	{{ bootstrap.load_css() }}
	{% endblock %}
	<style>
		* {
			font-family: serif;
		}
	</style>
</head>
<body>
	<div class="container-fluid">
		<h1>NFT Image Metadata </h1>

		<div class="row border m-3 p-3">
			<div class="col-md-12">
				<form action="/" method="post" enctype="multipart/form-data">
					<strong>NFT tokenId:</strong>
					<input type="text" name="tokenId"/>

					<input type="submit" value="Submit"/>					
				</form>
			</div>
		</div>

		<br>

		{% if output %}
		<div class="row">
			<div class="col-md-6 border">
				<img class="w-100" src="data:image/png;base64,{{ image | safe }}" id="img" onerror="this.style.visibility = 'hidden'">
			</div>
			<div class="col-md-6 border">
				<pre>{{output | safe}}</pre>
			</div>
		</div>
		{% endif %}
	</div>

	{% block bootstrap_js %}
	{{ bootstrap.load_js() }}
	{% endblock %}
</body>
