<!DOCTYPE html>

<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	
		<!-- Bootstrap CSS -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
		<title>CheckTheNFT</title>
	
	</head>

	<body>
		<div class="container-fluid w-75">
			<h1 class="text-center my-2">CheckTheNFT</h1>

			<div class="row border m-3 p-3 w-75 mx-auto">
				<div class="col-md-12">
					<p class="text-center">Sample: 0x1b79c7832ed9358E024F9e46E9c8b6f56633691B, 51</p>
					
					<form action="/" method="post" enctype="multipart/form-data">
						<div class="row mt-3 px-5 w-50 mx-auto">
							<div class="row-md-6 mt-1">
								<input class="form-control" type="text" name="contractAddress" placeholder='Contract Address' required/>
							</div>
							<div class="row-md-6 mt-1">
								<input class="form-control" type="text" name="tokenId" placeholder='Token ID' required/>
							</div>
						</div>

						<div class="row my-3 px-5 mx-auto">
							<input class="btn btn-primary w-50 mx-auto" type="submit" value="Submit">
						</div>
					</form>


					{% with messages = get_flashed_messages(with_categories=true) %}
						{% if messages %}
							{% for category, message in messages %}
							<div class="text-danger text-center"> {{message | safe}}</div>
							{% endfor %}
						{% endif %}
					{% endwith %}

					
					{% if name %}	
						<div class="container col-md-6 mx-auto w-75">
							
							<h2 class="text-center">{{name | safe}}</h2>

							<div class="container border my-3 mx-auto">
								{{description | safe}}
							</div>
							
							<p class="text-center">{{verify | safe}}</p>
							<p class="text-center">{{duplicates_msg | safe}}</p>

						</div>

						<div class="col-md-6 my-4 mx-auto">
							<img class="w-100 img-fluid" src="{{ image_url | safe }}" onerror="this.style.visibility = 'hidden'">
						</div>
					{% endif %}
				</div>
			</div>
		</div>
		
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
	</body>	
</html>
